*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'popplns', sans-serif ;
}
body{

    color: #ededed;

}
 
.header
{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20% 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo
{
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}.navbar a
{
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover{

color: #0ef;

}
.home
{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    /* background:url(purple\illustrated\Mountain\Desktop\abhi1.png); */
    background-image: url("c:\Users\HP\Pictures\New folder\abhi1.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}